
<section class="py-20 bg-custom-whitecard">
    <div class="container m-auto text-center ">
        <h1 class=" my-8 font-semibold text-custom-grayBackground text-5xl">Erreur 404</h1>
        <img class="block m-auto w-28 my-8" src="https://cdn.shopify.com/s/files/1/0607/6163/7097/files/Nnf6ObwM_400x400_42ce0382-3f00-4ba8-8da2-83963bfb320b.png?v=1636962090" alt="ponce 404">
        <p class="text-custom-grayBackground text-4xl">Oups, rien à voir ici !</p>
        <div class="my-8">
            <a  href="/"><button class="font-semibold lock bg-custom-grayBackground hover:bg-custom-pink text-center text-custom-whitetext font-heading py-5 px-8 rounded-md uppercase transition duration-200">RETOURNER A L'ACCUEIL</button></a>
        </div>
    </div>
    
</section>


