<section class=" my-10 w-full ">
    <div class="mx-auto w-9/12 ">
        <div class="text-center mb-8">
            <h1 class=" text-3xl font-bold">{{ page.title | upcase }}</h1>
        </div>
         
        <div>{{ page.content }}</div>
    </div>
</section>





